<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cool.mapper.KpiMapper">
    <!-- 메인 홈 - 메인 홈 KPI 조회 -->
    <select id="getKpi" parameterType="HashMap" resultType="HashMap">
        SELECT
			COUNT(*)
		FROM
			tb_admin
		WHERE
			is_delete = 'N'
			AND
			id = #{id}
			AND
			pw = #{pw}
    </select>
</mapper>